html {
  padding: 0px;
  margin: 0px;
}
body {
  padding: 0px;
  margin: 0px;
  height: 2000px;
}


.subheader {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  justify-content: space-between;
  padding: 1%;
  align-items: center;
  max-height: 150px;
  background: rgb(92,140,196);
  background: -moz-linear-gradient(90deg, rgba(92,140,196,1) 0%, rgba(26,69,120,1) 100%);
  background: -webkit-linear-gradient(90deg, rgba(92,140,196,1) 0%, rgba(26,69,120,1) 100%);
  background: linear-gradient(90deg, rgba(92,140,196,1) 0%, #1a4578 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#5c8cc4",endColorstr="#1a4578",GradientType=1);
}
.GC-hdr-logo {
  max-height: 150px;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  cursor: default;
}
nav {
  max-width: 1200px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
}
.sbhdr-a  {
  font-size: 28px;
  padding: 10px 5px;
  margin: 0px 5px;
  text-align: center;
  max-width: 170px;
  min-width: 175px;
  cursor: pointer;
  text-decoration: none;
  transition: all .5s ease-in-out;
}
.sbhdr-phn {
  font-size: 28px;
  padding: 10px 5px;
  margin: 0px 5px;
  font-family: 'Lato', sans-serif;
  text-align: center;
  max-width: 210px;
  min-width: 215px;
  cursor: pointer;
  text-decoration: none;
  transition: all .5s ease-in-out;
}
.sbhdr-a:hover, .sbhdr-phn:hover {
  transform: scale(1.1);
  background-color: #3f71af80;
}
a:link, a:visited {
  color: white;
}
a:active {
  color: rgb(185, 185, 185);
  transition: none;
}

.subhdrparabridge {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 48px;
  font-weight: 700;
  color: white;
  font-family: 'Lora', serif;
  text-shadow: 0px 5px 10px rgb(0, 0, 0);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  background-image: url(https://images.unsplash.com/photo-1559163387-e46e8dcb27f2?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2370&q=80);
  height: 200px;
  width: auto;
}

footer {
  position: relative;
  background: rgb(92,140,196);
  background: -moz-linear-gradient(90deg, rgba(92,140,196,1) 0%, rgba(26,69,120,1) 100%);
  background: -webkit-linear-gradient(90deg, rgba(92,140,196,1) 0%, rgba(26,69,120,1) 100%);
  background: linear-gradient(90deg, rgba(92,140,196,1) 0%, #1a4578 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#5c8cc4",endColorstr="#1a4578",GradientType=1);
  height: 200px;
  width: 100%;
}
.GC-ftr-logo {
  position: absolute;
  top:35%;
  right: 50%;
  transform: translate(50%,-50%);
  max-height: 130px;
  max-width: auto;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  cursor: default;
}
.copyright {
  position: absolute;
  top:68%;
  right: 50%;
  transform: translate(50%,-50%);
  text-shadow: 0px 3px 8px rgba(0, 0, 0, 0.65);
  color: white;
  font-family: 'Lora', serif;
  font-size: 16px;
}
.madewithlove {
  position: absolute;
  bottom: 20px;
  right: 20px;
  max-height: 130px;
  max-width: auto;
  transition: all .5s ease-in-out;
}
.madewithlove:hover {
  transform: scale(1.05);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.31);
}