/*
font-family: 'Lato', sans-serif;
font-family: 'Lora', serif;
font-family: 'Montserrat', sans-serif;
*/

html {
  padding: 0px;
  margin: 0px;
}
body {
  padding: 0px;
  margin: 0px;
  -webkit-text-size-adjust: 100%;
}
header {
  height: 700px;
  width: auto;
  background-image: url("../img/landing.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.hdr-grad {
  height: 700px;
  background: rgb(255, 255, 255);
  background: -moz-linear-gradient(180deg, rgba(17,45,78,1) 0%, rgba(0,0,0,0) 100%);
  background: -webkit-linear-gradient(180deg, rgba(17,45,78,1) 0%, rgba(0,0,0,0) 100%);
  background: linear-gradient(180deg, rgba(17,45,78,1) 0%, rgba(0,0,0,0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#112d4e",endColorstr="#000000",GradientType=1);
}
.subheader {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  justify-content: space-between;
  padding: 1%;
  align-items: center;
  max-height: 150px;
}
.GC-hdr-logo {
  max-height: 130px;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  cursor: default;
}
nav {
  max-width: 1200px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
}
.sbhdr-a  {
  font-size: 28px;
  padding: 10px 5px;
  margin: 0px 5px;
  text-align: center;
  max-width: 170px;
  min-width: 175px;
  cursor: pointer;
  text-decoration: none;
  transition: all .5s ease-in-out;
}
.sbhdr-phn {
  font-size: 28px;
  padding: 10px 5px;
  margin: 0px 5px;
  font-family: 'Lato', sans-serif;
  text-align: center;
  max-width: 210px;
  min-width: 215px;
  cursor: pointer;
  text-decoration: none;
  transition: all .5s ease-in-out;
}
.sbhdr-a:hover, .sbhdr-phn:hover {
  transform: scale(1.1);
  background-color: #3f71af80;
}
a:link, a:visited {
  color: white;
}
a:active {
  color: rgb(185, 185, 185);
  transition: none;
}
.hdr-desc {
  padding: 1%;
  margin-left: 2%;
  max-width: 700px;
  color: white;
  font-family: 'Lora', serif;
  font-size: 36px;
  text-shadow: 0px 3px 12px black;
  backdrop-filter: blur(7px);
  border-radius: 30px;
  cursor: default;
}
.lrn-btn {
  padding: 1%;
  margin-left: 3%;
  font-size: 30px;
  border: none;
  cursor: pointer;
  background-color: #3f71af;
  color: white;
  font-family: 'Montserrat', sans-serif;
  transition: all .3s ease-in-out;
}
.lrn-btn:hover {
  transform: scale(1.05);
  opacity: 95%;
  box-shadow: 0px 5px 12px rgba(0, 0, 0, 0.344);
}

main {
  height: auto;
}
.fixed-bridge {
  display: flex;
  position: -webkit-sticky;
  position: sticky;
  top:0px;
  height: 200px;
  width: auto;
  background: rgb(92,140,196);
  background: -moz-linear-gradient(90deg, rgba(92,140,196,1) 0%, rgba(26,69,120,1) 100%);
  background: -webkit-linear-gradient(90deg, rgba(92,140,196,1) 0%, rgba(26,69,120,1) 100%);
  background: linear-gradient(90deg, rgba(92,140,196,1) 0%, #1a4578 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#5c8cc4",endColorstr="#1a4578",GradientType=1);
  justify-content: center;
  align-items: center;
  font-size: 32px;
  font-family: 'Lora', serif;
  color: white;
  text-shadow: 0px 5px 10px rgba(0, 0, 0, 0.55);
  z-index: 1;
}
.rel {
  display: flex;
  justify-content: space-between;
  height: 500px;
}
.section {
  max-width: 45%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(255, 255, 255);
  background: -moz-linear-gradient(180deg, rgba(17,45,78,1) 0%, rgba(0,0,0,0) 100%);
  background: -webkit-linear-gradient(180deg, rgba(17,45,78,1) 0%, rgba(0,0,0,0) 100%);
  background: linear-gradient(180deg, rgba(17, 45, 78, 0.4) 0%, rgba(0,0,0,0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#112d4e",endColorstr="#000000",GradientType=1);
}
.s-text {
  opacity: 0;
  transition: all 2s;
  filter: blur(10px);
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  transform: translateX(-5%);
  padding: 2%;
}
.show {
  opacity: 1;
  filter: blur(0px);
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  transform: translateX(0%);
  transform: scale(100%);
  padding: 2%;
}
@media(prefers-reduced-motion) {
  .s-text {
    transition: none;
  }
}
.s-hdr {
  font-family: 'Lora', serif;
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 1px;
  text-shadow: 0px 5px 10px rgba(0, 0, 0, 0.55);
}
.s-bdy {
  font-family: 'Montserrat', sans-serif;
  font-size: 26px;
}
.parallax1, .parallax2, .parallax3 {
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  height: 500px;
  width: 55%;
  background-size: cover;
  background-repeat: no-repeat;
}
.parallax1 {
  background-image: url('../img/caro1.jpg');
  background-position: 415px 50px;
}
.parallax2 {
  background-image: url('../img/caro2.jpg');
  background-position: -300px;
}
.parallax3 {
  background-image: url('../img/caro3.jpg');
  background-position: 200px;
}
.center {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  text-align: center;
  height: 5px;
  background-color: rgb(230, 230, 230);
  margin: none;
  z-index: 0;
}
.btm-contact {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  font-family: 'Montserrat', sans-serif;
}
.see-what {
  font-size: 24px;
  color: black;
}
.see-what:visited {
  color: black;
}
footer {
  position: relative;
  background: rgb(92,140,196);
  background: -moz-linear-gradient(90deg, rgba(92,140,196,1) 0%, rgba(26,69,120,1) 100%);
  background: -webkit-linear-gradient(90deg, rgba(92,140,196,1) 0%, rgba(26,69,120,1) 100%);
  background: linear-gradient(90deg, rgba(92,140,196,1) 0%, #1a4578 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#5c8cc4",endColorstr="#1a4578",GradientType=1);
  height: 200px;
  width: 100%;
}
.GC-ftr-logo {
  position: absolute;
  top:35%;
  right: 50%;
  transform: translate(50%,-50%);
  max-height: 130px;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  cursor: default;
}
.copyright {
  position: absolute;
  top:68%;
  right: 50%;
  transform: translate(50%,-50%);
  text-shadow: 0px 3px 8px rgba(0, 0, 0, 0.65);
  color: white;
  font-family: 'Lora', serif;
  font-size: 16px;
}
.madewithlove {
  position: absolute;
  bottom: 20px;
  right: 20px;
  max-height: 130px;
  max-width: auto;
  transition: all .5s ease-in-out;
}
.madewithlove:hover {
  transform: scale(1.05);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.31);
}

/*---------1320x ver.---------*/

@media screen and (max-width: 1320px) {
  .subheader {
    padding: 3%;
    max-height: 400px;
  }
  nav {
    max-width: auto;
    display: flex;
    flex-direction: column;
  }
  .sbhdr-a  {
    font-size: 28px;
    margin-top: 10px;
    margin-left: auto;
    text-align: right;
  }
  .sbhdr-phn {
    font-size: 28px;
    margin-top: 10px;
    margin-left: auto;
    text-align: right;
  }
  .copyright {
    margin-top: 0;
  }
  .parallax1 {
    background-position: 300px 50px;
  }
}

/*----------800x ver.---------*/
@media screen and (max-width: 800px) {
  .fixed-bridge {
    height: 150px;
    text-align: center;
    width: auto;
    font-size: 28px;
  }
  .madewithlove {
    height: 20px;
  }
  .parallax1, .parallax2, .parallax3 {
    background-attachment: scroll;
    background-position: center;
  }
  .madewithlove {
    opacity: 0;
  }
}
/*---------740x ver.------------*/
@media screen and (max-width: 740px) {
  header {
    min-height: 750px;
  }
  .GC-hdr-logo {
    width: 100%;
    max-height: none;
  }
  .subheader {
    flex-direction: column;
    padding: 5%;
    align-items: center;
    max-height: none;
  }
  nav {
    align-items: center;
  }
  .sbhdr-a  {
    font-size: 28px;
    margin: 5px;
    text-align: center;
    background-color:#3f71af60;
    width: 100%;
    max-width: none;
  }
  .sbhdr-phn {
    font-size: 28px;
    margin: 5px;
    text-align: center;
    background-color:#3f71af60;
    width: 100%;
    max-width: none;
  }
  .hdr-desc {
    font-size: 26px;
    backdrop-filter: none;
    margin: 0px 24px;
    text-align: center;
  }
  .lrn-btn {
    position: absolute;
    left: 30px;
    right: 30px;
    padding: 10px 5px;
    margin: 15px;
    font-size: 28px;
  }
  .copyright {
    text-align: center;
  }
}
/*---------555x ver.------------*/
@media screen and (max-width: 555px) {
  .s-text {
    height: 100%;
    justify-content: space-evenly;
  }
  .show {
    height: 100%;
    justify-content: space-evenly;
  }
  .s-hdr {
    margin: 0;
  }
  .s-bdy {
    font-size: 22px;
    margin: 0;
  }
  .btm-contact {
    padding: 0px 5%;
  }
  .see-what {
    text-align: center;
  }
}
/*---------465x and under ver.------------*/
@media screen and (max-width: 465px) {
  header {
    min-height: 90vh;
  }
  .GC-hdr-logo {
    height: 100%;
  }
  main {
    margin-top: 5px;
  }
  .fixed-bridge {
    height: 100px;
    text-align: center;
    width: auto;
    font-size: 24px;
  }
  .rel {
    flex-direction: column;
  }
  #rel2 {
    flex-direction: column-reverse;
  }
  .section {
    width: 100%;
    max-width: none;
  }
  .parallax1, .parallax2, .parallax3 {
    width: 100vw;
  }
  .s-text {
    padding: 5%;
  }
  .show {
    padding: 5%;
  }
  .GC-ftr-logo {
    width: 100%;
  }
  .copyright {
    font-size: 12px;
  }
}
@media screen and (max-width: 400px) {
  .hdr-desc {
    font-size: 22px;
  }
}
@media screen and (min-height: 1100px) {
  .parallax1 {
    background-position: -100px;
  }
  .parallax2 {
    background-position: -500px;
  }
  .parallax3 {
    background-position: -150px;
  }
}