html {
  padding: 0px;
  margin: 0px;
}
body {
  padding: 0px;
  margin: 0px;
  -webkit-text-size-adjust: 100%;
}


.subheader {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  justify-content: space-between;
  padding: 1%;
  align-items: center;
  max-height: 150px;
  background: rgb(92,140,196);
  background: -moz-linear-gradient(90deg, rgba(92,140,196,1) 0%, rgba(26,69,120,1) 100%);
  background: -webkit-linear-gradient(90deg, rgba(92,140,196,1) 0%, rgba(26,69,120,1) 100%);
  background: linear-gradient(90deg, rgba(92,140,196,1) 0%, #1a4578 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#5c8cc4",endColorstr="#1a4578",GradientType=1);
}
.GC-hdr-logo {
  max-height: 150px;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  cursor: default;
}
nav {
  max-width: 1200px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
}
.sbhdr-a  {
  font-size: 28px;
  padding: 10px 5px;
  margin: 0px 5px;
  text-align: center;
  max-width: 170px;
  min-width: 175px;
  cursor: pointer;
  text-decoration: none;
  transition: all .5s ease-in-out;
}
.sbhdr-phn {
  font-size: 28px;
  padding: 10px 5px;
  margin: 0px 5px;
  font-family: 'Lato', sans-serif;
  text-align: center;
  max-width: 210px;
  min-width: 215px;
  cursor: pointer;
  text-decoration: none;
  transition: all .5s ease-in-out;
}
.sbhdr-a:hover, .sbhdr-phn:hover {
  transform: scale(1.1);
  background-color: #3f71af80;
}
a:link, a:visited {
  color: white;
}
a:active {
  color: rgb(185, 185, 185);
  transition: none;
}

/*-------------------MAIN BEGIN----------------*/
.asktext {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: none;
  background: rgb(92,140,196);
  background: -moz-linear-gradient(90deg, rgba(92,140,196,1) 0%, rgba(26,69,120,1) 100%);
  background: -webkit-linear-gradient(90deg, rgba(92,140,196,1) 0%, rgba(26,69,120,1) 100%);
  background: linear-gradient(90deg, rgba(92,140,196,1) 0%, #1a4578 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#5c8cc4",endColorstr="#1a4578",GradientType=1);
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  height: 100px;
  color: white;
  font-size: 26px;
}
.subhdrparabridge {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 34px;
  font-weight: 700;
  color: white;
  font-family: 'Lora', serif;
  text-shadow: 0px 5px 10px rgb(0, 0, 0);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../img/serv/servhdr.webp);
  height: 200px;
  width: auto;
}
.main-services {
  margin: 20px 0px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  
}
.ul, .li {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}
.ul {
  margin: none;
  padding: 0px;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.li {
  font-size: 24px;
  margin: 15px;
  padding: 3%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 350px;
  width: 400px;
  transition: all .5s ease-in-out;
  border: solid;
  border-color: rgb(211, 211, 211);
  cursor: pointer;
}
.li:hover {
  transform: scale(107%);
  background-color: #3f71afc1;
  border-color: rgba(255, 255, 255, 0);
  color: white;
}
.li:hover .img-li {
  filter: blur(10px) brightness(70%);
  overflow: hidden;
}
.li:hover .serv-desc {
  opacity: 1;
}
.sub-li {
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 270px;
  width: 400px;
  overflow: hidden;
}
.img-li {
  width: 400px;
  border-radius: 10px;
  overflow: hidden;
  object-fit: cover;
  object-position: left;
  transition: all .5s ease-in-out;
}
.serv-desc {
  position: absolute;
  opacity: 0;
  max-width: 375px;
  overflow: auto;
  transition: all ease-out;
}
.btm-contact {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  padding: 0px 5%;
}
.still-q {
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  color: black;
  text-align: center;
}
.sqa:link, .sqa:visited {
  color: black;
}
/*-------------------FOOTER BEGIN----------------*/

footer {
  position: relative;
  background: rgb(92,140,196);
  background: -moz-linear-gradient(90deg, rgba(92,140,196,1) 0%, rgba(26,69,120,1) 100%);
  background: -webkit-linear-gradient(90deg, rgba(92,140,196,1) 0%, rgba(26,69,120,1) 100%);
  background: linear-gradient(90deg, rgba(92,140,196,1) 0%, #1a4578 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#5c8cc4",endColorstr="#1a4578",GradientType=1);
  height: 200px;
  width: 100%;
}
.GC-ftr-logo {
  position: absolute;
  top:35%;
  right: 50%;
  transform: translate(50%,-50%);
  max-height: 130px;
  max-width: auto;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  cursor: default;
}
.copyright {
  position: absolute;
  top:68%;
  right: 50%;
  transform: translate(50%,-50%);
  text-shadow: 0px 3px 8px rgba(0, 0, 0, 0.65);
  color: white;
  font-family: 'Lora', serif;
  font-size: 16px;
}
.madewithlove {
  position: absolute;
  bottom: 20px;
  right: 20px;
  max-height: 130px;
  max-width: auto;
  transition: all .5s ease-in-out;
}
.madewithlove:hover {
  transform: scale(1.05);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.31);
}

@media screen and (max-width: 1320px) {
  .subheader {
    padding: 3%;
    max-height: 400px;
  }
  nav {
    max-width: auto;
    display: flex;
    flex-direction: column;
  }
  .sbhdr-a  {
    font-size: 28px;
    margin-top: 10px;
    margin-left: auto;
    text-align: right;
  }
  .sbhdr-phn {
    font-size: 28px;
    margin-top: 10px;
    margin-left: auto;
    text-align: right;
  }
  .copyright {
    margin-top: 0;
  }
}
@media screen and (max-width: 885px) {
  .li {
    height: 325px;
    width: 325px;
  }
  .sub-li {
    width: 99%;
    height: 210px;
  }
  .copyright {
    font-size: 14px;
    text-align: center;
    padding: 10px;
  }
  .GC-hdr-logo {
    width: 90%;
  }
  .madewithlove {
    opacity: 0;
  }
  .subhdrparabridge {
    background-attachment: scroll;
  }
}
@media screen and (max-width: 740px) {
  .li {
    height: 250px;
    width: 300px;
    font-size: 22px;
  }
  .serv-desc {
    width: 85%
  }
  .GC-hdr-logo {
    max-height: none;
    width: 100%;
  }
  .subheader {
    flex-direction: column;
    padding: 5%;
    align-items: center;
    max-height: none;
  }
  nav {
    align-items: center;
  }
  .sbhdr-a  {
    font-size: 28px;
    margin: 5px;
    text-align: center;
    background-color:#ebebeb2d;
    width: 100%;
    max-width: none;
  }
  .sbhdr-phn {
    font-size: 28px;
    margin: 5px;
    text-align: center;
    background-color:#ebebeb2d;
    width: 100%;
    max-width: none;
  }
}
@media screen and (max-width: 680px) {
  .main-services {
    grid-template-rows: 1fr 1fr;
    grid-template-columns: none;
  }
  .li {
    height: 250px;
    width: 80vw;
    font-size: 22px;
  }
}
@media screen and (max-width: 470px) {
  .GC-hdr-logo {
    width: 100%;
    height: 100%;
  }
  .asktext {
    text-align: center;
    padding: 0px 20px;
  }
  .GC-ftr-logo {
    width: 90vw;
  }
}
@media screen and (max-width: 300px) {
  .subhdrparabridge {
    text-align: center;
  }
}